@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --transparent: rgba(0, 0, 0, 0);
  --gray-border: #bababa;
  --card-background: #f6ffed;
}

span {
  font-size: 1rem;
}

/* h1 {
    font-size: 2em;
} */

* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  padding: 1em;
}

.register-container {
  display: flex;
  height: 14rem;
  gap: 1em;
  padding: 1em;
}

.personal-data {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input,
.input,
.register-button {
  width: 100%;
  border-radius: 0.4em;
  box-sizing: border-box;
}

input {
  border: none;
  background-color: var(--transparent);
  padding: 0.4em;
  outline: none;
}

.input {
  border: 1px solid var(--gray-border);
  height: fit-content;
}

.register-button {
  background-color: black;
  color: white;
  padding: 0.4em;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.register-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
}

.not-permited {
    opacity: .4;
    cursor: not-allowed;
}

.digital-signature-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
  padding-right: 0;
  box-sizing: border-box;
}

.digital-signature-canvas {
  flex: 1;
  border: 1px solid var(--gray-border);
  height: 4em;
  width: 100%;
  object-fit: contain;
  border-radius: .4em;
}

.data-list-container {
  width: 100%;
  height: 100%;
  padding: 1.6em;
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: border-box;
  border: 1px solid var(--gray-border);
  border-radius: .4em;
  gap: 1em;
}

.data-info-container {
  border: 1px solid var(--gray-border);
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  padding: .6em;
  border-radius: .4em;
}

.data-info-container:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.person-email,
.person-cpf {
    opacity: .6;
}

.signature-img {
    object-fit: contain;
    width: 100%;
}